@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif
}

.main-table-container {
  margin-top: 90px;
  width: 80%;
}

.table-header {
  margin-bottom: 50px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  background: '#F6F6F6'
}

.modal p {
  color: #818181;
}

/* .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  max-height: 500px;
} */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 30%;
  padding: 0 0 25px 0;
  align-items: center;
  display:flex;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper h2{
  margin: 10px 0 10px 0;
  align-self: flex-start;
  color: #5E5873;
  font-size: 24;
  font-weight: 500
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper h3{
  text-align: center;
  color: #333;
  font-size: 14;
  font-weight: 400
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.table-header h2 {
  color: #5E5873;
  font-weight: 500
}

.css-sghohy-MuiButtonBase-root-MuiButton-root  {
  background-color: #7367F0 !important;
  height: 40px
}

.header {
  height: 70px;
  width: 100%;
}

.header-container{
    padding: 19px 36px;
    overflow: auto;
    justify-content: space-between;
    display: flex;
}

.searchbar-container {
  width: 70%;
}

.searchbar {
  width: 60%;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  border-shadow: none;
}

.modal {
  padding: 10px 35px;
}

.side-panel {
  flex: 1;
  padding: 80px 50px;
  background: #F8F8F8;
}
.side-panel-start-div {
  display: flex
}

.side-panel-start-div .avtar{
  width: 100px;
  height:100px;
  border-radius: 50px;
}

.side-panel-start-div .name h3 {
  color: #7367F0
}

.side-panel-start-div .name {
  margin-left: 25px
}

.side-table {
  flex: 2;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header-container {
    padding: 21px 14px;
  }

  .searchbar {
    width: 80%;
  }

  .header-container .name-text {
    display: none
  }

  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 90%
  }

  .main-table-container {
    margin-top: 50px;
  }

  .table-header {
    margin-bottom: 35px;
  }

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* .main-table-container {
    width: 60%
  } */
  .main-table-container {
    /* margin-top: 90px; */
    width: 100%;
    display: flex;
  }
}

.header .name {
  display: flex;
  color: gray
}

.name div {
  margin-right: 5px;
  text-align: right;
}

.name h4 {
  margin: 10px 0 0 0
}

.name p {
  margin: 0
}

.header img{
  width: 50px;
  height:50px
}
